* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #212529;
    color: #f8f9fa;
    margin: 1rem 2rem;

    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    /* font-family: "Manrope", sans-serif; */
}

.App {
    display: flex;
}
label {
    font-size: 0.6rem;
}

input {
    margin: 0.3rem;
    font-size: 0.7rem;
    width: 13rem;
    height: 1.3rem;
}

textarea {
    width: 100%;
    margin: 0.2rem;
}

.form {
    width: 50%;
    /* background-color: rgb(174, 131, 76); */
}

.save-btn {
    margin: 1rem;
    position: fixed;
    right: 1rem;
    bottom: 0;
}

h4 {
    font-size: 1rem;
    margin: 1rem 0 0.1rem 0;
}

.exp,
.edu,
.pers,
.cert,
.skill,
.lang,
.profi {
    width: 100%;
    min-width: 15.5rem;
    display: flex;
    justify-content: space-between;

    background-color: #343a40;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

.pers-f,
.exp-f,
.edu-f,
.cert-f,
.skill-f,
.lang-f {
    display: flex;
   
    flex-wrap: wrap;
}

.pers-f {
    margin-right: 1rem;
}

.remove-btn {
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: #343a40;
    color: antiquewhite;
}

button {
    padding: 0rem 0.5rem;
    font-size: 0.7rem;
}

.hide {
    display: none;
}

/* --------------- CV part --------------- */

.cv {
    position: fixed;
    right: 4rem;
    top: 4rem;
    zoom: 50%;
    font-size: 0.9rem;
}

.print {
    padding: 2rem 1rem;
    width: 210mm;
    height: 297mm;
    margin: 0;
    background-color: #ced4da;
    color: black;
    font-family: "Inconsolata", monospace;
}

.header {
    display: flex;
    margin: 0 0 3rem 3rem;
}

.name-prof {
    width: 70%;
}

h2 {
    font-size: 3rem;
}

.main {
    display: flex;
}

.left {
    width: 55%;
    border-right: black solid 1px;
}

.right {
    width: 45%;
}

h3 {
    font-size: 2rem;
    margin: 1.5rem 2rem;
    border-bottom: black solid 1px;
    padding: 1rem;
}

h5 {
    font-size: 1.5rem;
}

.profile {
    margin: 1rem 2rem;
}

.education,
.skills {
    display: flex;
    margin: 0.5rem 2rem;
    gap: 1rem;
}
.experiences {
    display: flex;
    margin: 0.3rem 2rem;
    gap: 1rem;
}
.job-title,
.qualification,
.title {
    font-weight: 600;
}

.exp-city {
    margin-left: auto;
}

.job-description {
    margin: 0 2rem 1.2rem;
}

.languages,
.certification,
.skills {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
}

p {
    line-height: 0.9rem;
}

@media only screen and (max-width: 1014px) {
    input{
        width: 11rem;
    }
}
@media only screen and (max-width: 886px) {
    .form {
        width: 40%
    }
}


@media only screen and (max-width: 750px) {
   
    .cv {
        position: static;
       
    }
    .form {
        width: 80%;
    }

    .App {
        display: block;
    }
}
@media only screen and (max-width: 530px) {
   
    .cv {
        position: static;
       
    }
    .form {
        width: 70%;
    }

    .App {
        display: block;
    }
}
